# See http://help.github.com/ignore-files/ for more about ignoring files.

/ContactManagement/API/ContactsApp/bin/Debug/net6.0
/ContactManagement/API/ContactsApp/obj
/ContactManagement/API/Contact.Data/bin/Debug/net6.0
/ContactManagement/API/Contact.Data/obj
/ContactManagement/API/Contact.Repository/bin/Debug/net6.0
/ContactManagement/API/Contact.Repository/obj
/ContactManagement/UI/node_modules
/ContactManagement/UI/dist/ui
/ContactManagement/.vs

